<div class="comtainer-fluid">
  <div class="row">
    <div class="col-md-7">
      <form (ngSubmit)='submitGoal()' #goalForm='ngForm' class="form-group" action="index.html" method="post">
      <div  class="form-group">
        <label for="">Name</label>
        <input  class="form-control" type="text" name="name" value="" id="name" [(ngModel)]="newGoal.name" #name='ngModel' required>
        <!-- Display {{newGoal.name}} -->
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p class="alert-link">Name is required</p>

        </div>
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <textarea required class="form-control" name="description" rows="8" id="desc" cols="80" [(ngModel)]='newGoal.description' #description='ngModel' ></textarea>
        <div [hidden]='description.valid || description.pristine' class="alert alert-danger">
          <p>Description required</p>

        </div>

      </div>
      <div class="form-group">
        <label for="">Completion</label>
        <input required class="form-control" type="date" name="completion" value="" id="complete" [(ngModel)]='newGoal.compleDate' #completion='ngModel'>
        <div [hidden]='completion.valid || completion.pristine' class="alert alert-danger">
          <p>Date required</p>
        </div>

      </div>
      <button class="btn btn-primary " type="submit" name="button">Submit</button>

      </form>


    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="jumbotron">
          <h1>Fill new Goals here</h1>

        </div>

      </div>

    </div>

  </div>

</div>
